.main {
  text-align: center; 
  display: block; 
}

h4 {
  color: darkblue;
  cursor: pointer;
}

h4:hover {
  text-decoration: underline;
}

#rainbow {
  position: absolute;
  top: 20%;
  left: 40%;
}

h3 {
  position: absolute;
  top: 1px;
}

.red {
  background-color: red;
  width: 300px;
  height: 300px;
}

.orange {
  background-color: orange;
  width: 50px;
  height: 50px;
}

.yellow {
  background-color: yellow;
  width: 50px;
  height: 50px;
}

.green {
  background-color: green;
  width: 300px;
  height: 300px;
}

.blue {
  background-color: blue;
  width: 300px;
  height: 300px;
}

.indigo {
  background-color: mediumslateblue;
  width: 50px;
  height: 50px;
}

.violet {
  background-color: darkviolet;
  width: 300px;
  height: 300px;
}

.active {
  font-weight: 700;
}

a {
  display: block;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
 
}

.nav {
  position: relative;
  margin: 0 auto; 
  font-size: 20px; 
}

.box {
  text-align: center; 
}

